<!doctype html>
<html>
  <head>
    <title>MessheeChat</title>
    <link rel="stylesheet" type="text/css" href='style.css'>
    <!-- <meta name="viewport" content="width=display-width, initial-scale=1"> -->
    <meta charset="utf-8">
    </style>
  </head>
  <body>
    <ul id="user-connected"></ul>
    <ul id="messages"></ul>
    <form id="post-message" action="">
      <input id="m" name="message" autocomplete="off" /><button class="send-message-button" id='send-msg'>Send</button>
    </form>
    <script src="https://cdn.socket.io/socket.io-1.2.0.js"></script>
    <script src="http://code.jquery.com/jquery-1.11.1.js"></script>
    <script>
      var socket = io();
      $('form').submit(function(){
        socket.emit('chat message', $('#m').val());
        $('#m').val('');
        return false;
      });
      socket.on('chat message', function(msg){
        $('#messages').append($('<li id= "message">').text(msg));
      });
    </script>
  </body>
</html>
