<!DOCTYPE html>
<html>
  <head>
    <title>Socket.IO chat</title>
    <link rel="stylesheet" type="text/css" href='css/style.css'>
    <meta charset="utf-8">
  </head>
  <body>
  <!--   <div class="span5 offset2" id="login">
        <form class="form-inline">
              <input type="text" class="input-small" placeholder="Room name" id="name">
            <input type="button" name="create" id="create" value="Create" class="btn btn-primary">
        </form>
    </div> -->

    Cipher key: <input id="cipher" autocomplete="off" />
    Decipher key: <input id="decipher" autocomplete="off" />

  <div class="row">
    <div class="span2">
      <ul id="people" class="unstyled"></ul>
    </div>
    <div class="span4">
      <ul id="msgs" class="unstyled">
    </div>
  </div>

  <div class="row">

    <div class="span5 offset2" id="login">
      <form id="name-form" class="form-inline">
        <input type="text" class="input-small" placeholder="Your name" id="name">
        <input type="button" name="join" id="join" value="Join" class="btn btn-primary">
      </form>
    </div>

    <div class="span5 offset2" id="chat">
      <form id="2" class="form-inline">
        <input type="text" class="input" placeholder="Your message" id="msg">
        <input type="button" name="send" id="send" value="Send" class="btn btn-success">
      </form>
    </div>
  </div>

  <div class="contacts">

  </div>

  <script src="js/socket.io-1.2.0.js"></script>
  <script src="js/jquery-1.11.1.js"></script>
  <script src="js/crypto.js"></script>
  <script src="js/socketHandlers.js"></script>

  </body>
</html>
