<!DOCTYPE html>
<html>
<head>
  <title>Meshee Chat</title>
  <link rel="stylesheet" type="text/css" href='css/style.css'>
</head>

<body>
  <meta http-equiv="refresh" content="3;url=/index">
  <script src="js/snap.svg.js"></script>
  <script src="js/logo.js"></script>
  <script src="js/logoOnLanding.js"></script>

  <svg id="logo" height="600" version="1.1" width="600" xmlns="http://www.w3.org/2000/svg"></svg>
</body>
</html>