<!DOCTYPE html>
<html>
<head>
  <title>Meshee Chat</title>
</head>

<body>
  <meta http-equiv="refresh" content="3;url=/index">
  <script src="js/snap.svg.js"></script>
  <script type="text/javascript">
    window.onload = function() {
      var s = Snap("100%", 600);

      var mask = s.mask();
      mask.add(s.rect(0, 0, "100%", "100%").attr({fill: "#fff"}));

      setTimeout(function() {
        var bigCircle = s.circle("40%", "38%", 60);
        var c1 = bigCircle.use();
        var p1 = s.path("M110,95,95,110M115,100,100,115").attr({
              fill: "none",
              stroke: "#bada55",
              strokeWidth: 4
          });
        var ptrn1 = p1.pattern(100, 100, 10, 10);
        c1.attr({
          fill: ptrn1
        });
        var c2 = bigCircle.use();
        c2.attr({
          fill: "none",
          stroke: "#000",
          strokeWidth: 6
        });
        var ring = bigCircle.use();
        ring.attr({
          fill: "none",
          stroke: "#000",
          strokeWidth: 20
        });
        bigCircle.toDefs();
        mask.add(ring);
        c1.attr({
          mask: mask
        });
        bigCircle.animate({r: 35}, 1500, mina.elastic);
      }, 0);

      setTimeout(function() {
        var bigCircle2 = s.circle("60%", "38%", 60);
        var c12 = bigCircle2.use();
        var p2 = s.path("M110,95,95,110M115,100,100,115").attr({
              fill: "none",
              stroke: "#e68d53",
              strokeWidth: 4
          });
        var ptrn2 = p2.pattern(100, 100, 10, 10);
        c12.attr({
          fill: ptrn2
        });
        var c22 = bigCircle2.use();
        c22.attr({
          fill: "none",
          stroke: "#000",
          strokeWidth: 6
        });
        var ring2 = bigCircle2.use();
        ring2.attr({
          fill: "none",
          stroke: "#000",
          strokeWidth: 20
        });
        bigCircle2.toDefs();
        mask.add(ring2);
        c12.attr({
          mask: mask
        });

        bigCircle2.animate({r: 35}, 1500, mina.elastic);
      }, 300);
      
      setTimeout(function() {
        var bigCircle3 = s.circle("50%", "70%", 60);
        var c13 = bigCircle3.use();
        var p3 = s.path("M110,95,95,110M115,100,100,115").attr({
                fill: "none",
                stroke: "#4775ff",
                strokeWidth: 4
            });
        var ptrn3 = p3.pattern(100, 100, 10, 10);
        c13.attr({
            fill: ptrn3
        });
        var c23 = bigCircle3.use();
        c23.attr({
            fill: "none",
            stroke: "#000",
            strokeWidth: 6
        });
        var ring3 = bigCircle3.use();
        ring3.attr({
            fill: "none",
            stroke: "#000",
            strokeWidth: 20
        });
        bigCircle3.toDefs();
        mask.add(ring3);
        c13.attr({
            mask: mask
        });
        bigCircle3.animate({r: 35}, 1500, mina.elastic);
      }, 600);

    }
  </script>
</body>
</html>