* { 
 margin: 0;
 padding: 0;
 box-sizing: border-box;
}
@font-face {
    font-family: helvetica;
    src: url('Ledfont.ttf');
}

html {
  height: 100%;
  width: 100%;
}

body {
 font: 13px helvetica;
 height: 100%;
}

#login form {
 background: #000;
 padding: 1%;
 position: fixed;;
 bottom: 43%;
 left: 40%;
 padding-top: 2.8%;
 padding-bottom: 3%;
}



#chat form {
 background: #000;
 padding: 3px;
 position: fixed;
 bottom: 0;
 width: 100%;
}

form input {
 border: 0;
 padding: 10px;
 width: 90%;
 margin-right: 0.5%;
}

#login form button {
 width: 70%;
 background: #bada55;
 border: none;
 padding: 10px;
 position: relative;
 position: 0;
 top: 100%;
 left: 16%;
}

#chat form button {
 width: 9%;
 background: #bada55;
 border: none;
 padding: 10px;
}

#messages {
 list-style-type: none;
 margin: 0;
 padding: 0;
}
#name{
text-align: center; 
}

#messages li {
 padding: 5px 10px;
}

#messages li:nth-child(odd) { 
 background: #eee;
}

.grid {
 height: 100%;
 width: 100%;
}

#nodes-tile {
  font: 3.8em helvetica;
  font-size 30em;
  opacity: 0.7;
}
.user-row{
  padding-top: 5%;
}

.user-column {
 height: 100%;
 width: 20%;
 float: left;
 color: black;
 background-color: black;
 color: white;
 font: 13px helvetica, Arial;
 text-align:center;
}

.messages-column {
 height: 100%;
 width: 75%;
 padding-top: 1%;
 float: right;
}

form #msg { border: 0;
  padding: 10px;
  width: 54%;
  margin-left: 20%;
}

form #name {
  border: 0;
  padding: 10px;
  width: 70%;
  margin-left: 16%;
}

form #key { 
  border: 0;
  padding: 10px;
  width: 15%;
  margin-right: .5%;
}

#logo {
  display: block;
  margin: auto;
}

li #users {
 list-style-type: none;
}

li #msgs {
  list-style-type: none;
}

li{
  font-size: 1.3em;
  padding: 0.2em;
  text-align:center;
}

#users{
  opacity: 0.7;
  padding-top: 10%;
}

#nodes-tile:hover {
  opacity: 1.0;
}

#send:hover {
  background: #e68d53;
}

#join:hover {
  background: #e68d53;
}

#meshee-logo {
  float: right;
  padding-top: 1%;
}
#mesh-users{
  margin-top: 3%;
}